// * {
//     border: 1px solid red;
// }

header {
    position: absolute;
    z-index: 1;
    color: #fff;

    img {
        margin: 50px 0 0 50px;
        max-width: 250px;
    }
}

section .hero {
    position: relative;
}

.hero {  
    width: 100%;
    min-height: 100vh;
    position: absolute;
    display: none;


    &.active {
        display: block;
    }

    &_1 {
        background: radial-gradient(rgba(255,255,255, 0.3), #000), url('./../images/london.jpg') no-repeat center ;
        background-size: cover;
    }

    &_2 {
        background: radial-gradient(rgba(255,255,255, 0.3), #000), url('./../images/copenhagen.jpg') no-repeat center;
        background-size: cover;
    }
    
    &_3 {
        background: radial-gradient(rgba(255,255,255, 0.3), #000), url('./../images/barcelona.jpg') no-repeat center;
        background-size: cover;
    }

    &_4 {
        background: radial-gradient(rgba(255,255,255, 0.3), #000), url('./../images/new_york.jpg') no-repeat center;
        background-size: cover;
    }

    &__tagline {
        position: absolute;
        top: 25%;
        margin-left: 5%;
        width: 90%;
        padding: 25px;
        background-color: rgba(0,0,0, 0.25);

        @include tablet {
            top: 30%;
            margin-left: 10%;
            width: 80%;
            
        }

        @include desktop {
            width: 40%;
            margin-left: 30%;
            padding: 50px;
        }

        h1 {
            text-align: center;
            font-size: 4.25rem;
            color: #fafafa;
    
            span {
                color: $default-font-color;
            }
    
            @include tablet {
                font-size: 7.5rem;
            }

            @include desktop {
                font-size: 10rem;
            }
        }

        h3 {
            color: #fafafa;
            line-height: 1.5;
        }
    }

    & .container_trigger {
        width: 100%; 
        text-align: center;

        & .search_travel_trigger {
            color: #fff;
            padding: 3.5px;
            &:hover {
                border-bottom: 1px solid #fff;
            }
        }
    }
}

.container-button {
    @include flexbox-row(center);
    width: 100%;
    margin: 50px auto 50px;

    .btn {
        padding: 15px 50px;

        @include tablet {
            padding: 12px 40px;
        }
    }

    .btn.go_today {
        margin-right: 25px;
        @include desktop {
            margin-right: 50px
        }
    }
}

#travel_search {
    display: none;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0,0,0, 0.95);
    z-index: 1;
    font-size: 3rem;
    font-weight: bold;
    color: #fff;  

    @include desktop {
        height: 100px;
        background-color: rgba(0,0,0, 0.25);
    }

    input {
        width: 60%;
        background-color: transparent;
        color: #fff;
        border: none;
        border-bottom: 2px solid #fff;
        outline: none;

        &:focus {
            border-bottom: 2px solid #6699aa;
            transition: 0.5s ease;
        }

        @include tablet {
            width: 50%;
        }
        
        @include desktop {
            width: 10%;
            background-color: #fff;
            color: #000;
            border: none;

            &:focus {
                border: none;
            }
        }
    }
    
    input, label {
        margin-bottom: 20px;
        font-size: 3rem;
        text-align: center;

        @include tablet {
            margin-bottom: 40px;
        }

        @include desktop {
            font-size: 2.5rem;
            margin-bottom: 0;
            margin-right: 30px;
        }
    }

    #search_travel_button {
        margin-top: 50px;

        @include tablet {
            margin-top: 0;
        }
    }
}

#travel_search_trigger {
    display: none;

    &:checked ~ #travel_search{
        @include flexbox-column(center);
        align-items: center;

        @include desktop {
            flex-direction: row;
        }
    }
}

.cross {
    position: fixed;
    cursor: pointer;
    width: 35px;
    height: 35px;
    top: 50px;
    right: 50px;

    &:before {
        transform: rotate(45deg);
    }
    &:after {
        transform: rotate(-45deg);
    }
}
.cross:before, .cross:after {
    position: absolute;
    content: ' ';
    height: 33px;
    width: 2px;
    background-color: #fff;
}